body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: background-color 0.5s ease-in-out;
}

.container {
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.instruction {
    font-size: 18px;
    font-weight: bold;
    color: #d6336c;
}

.heart {
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}

.heart:hover {
    transform: scale(1.2);
}

.message-box {
    width: 100%;
    max-width: 530px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.message-box.show {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.message-title {
    text-align: left; 
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: #0a090a;
    margin-bottom: 10px;
}

.message-text {
    font-size: 18px;
    gap: 10px;
    color: rgb(100, 41, 62);
    font-weight: bold;
    text-align: justify;
    text-indent: 3ch;
}

p:nth-of-type(2),
p:nth-of-type(3) {
    font-size: 18px;
    color: rgb(100, 41, 62);
    font-weight: bold;
    text-align: justify;
    text-indent: 3ch;
}


.gif {
    width: 120px;
    height: auto;
    margin-top: 10px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.tiktok-button {
    display: none;
    margin: 20px auto;
    padding: 7px 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #ff2d55;
    text-decoration: none;
    border-radius: 8px;
    transition: background 25.3s ease-in-out;
    width: fit-content;
}

.tiktok-button:hover {
    background-color: #e60048; 
}

@media (max-width: 500px) {
    .message-box {
        width: 90%;
        padding: 20px;
    }

    .message-title {
        font-size: 24px;
    }

    .message-text {
        font-size: 14px;
    }

    .gif {
        width: 80px; 
    }

    .tiktok-button {
        font-size: 14px;
        padding: 5px 10px;
    }
}

